.Homepage {
    position: relative;
    text-align: center;
    height: 100%;
}
  
.Homepage-msg {
    position: absolute;
    margin-top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Homepage-body {
    height: 100vh;
    width: 100vw;
    background-color: aliceblue;
    background-image: url(HomepageBackground.jpg) ;
    background-size: cover;
}