.SignupForm {
    background-image: url(./HomepageBackground.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.SignupForm form {
    margin: auto;
}

.SignupForm button {
    float: right;
}